<div class="small-modals">
    <ng-container *ngIf="data.dynamicContent === 'validation'">
        <h1 mat-dialog-title>필수입력값 확인</h1>
        <div mat-dialog-content>
            필수입력값이 채워지지 않았습니다.<br />
            확인 후 채워주시길 바랍니다.
        </div>
        <mat-dialog-actions align="center">
            <button mat-button [mat-dialog-close]="true" class="okBtn">확인</button>
        </mat-dialog-actions>
    </ng-container>

    <ng-container *ngIf="data.dynamicContent === 'cancel'">
        <h1 mat-dialog-title>지도자 등록 취소</h1>
        <div mat-dialog-content>
            지도자 등록을 취소하시겠습니까?<br />
            작성한 내용은 모두 삭제됩니다.
        </div>
        <mat-dialog-actions align="center">
            <button mat-button mat-dialog-close class="cancelBtn">취소</button>
            <button mat-button [mat-dialog-close]="true" class="okBtn" (click)="goToIndexPage()">확인</button>
        </mat-dialog-actions>
    </ng-container>

    <ng-container *ngIf="data.dynamicContent === 'updateCancel'">
        <h1 mat-dialog-title>지도자 수정 취소</h1>
        <div mat-dialog-content>
            지도자 수정을 취소하시겠습니까?<br />
            수정한 내용은 모두 삭제됩니다.
        </div>
        <mat-dialog-actions align="center">
            <button mat-button mat-dialog-close class="cancelBtn">취소</button>
            <button mat-button [mat-dialog-close]="true" class="okBtn" (click)="goToDetailPage()">확인</button>
        </mat-dialog-actions>
    </ng-container>

    <ng-container *ngIf="data.dynamicContent === 'register'">
        <h1 mat-dialog-title>지도자 등록</h1>
        <div mat-dialog-content>
            입력한 내용으로 지도자를 등록하시겠습니까?
        </div>
        <mat-dialog-actions align="center">
            <button mat-button mat-dialog-close class="cancelBtn">취소</button>
            <button mat-button [mat-dialog-close]="true" class="okBtn" (click)="onRegister()">확인</button>
        </mat-dialog-actions>
    </ng-container>


    <!-- 지도자, 학교 모달창 -->
    <ng-container *ngIf="data.dynamicContent === 'leaderCode'">
        <h1 mat-dialog-title>선택된 식별코드 없음</h1>
        <div mat-dialog-content>
            선택된 지도자 식별코드가 없습니다. <br />
            지도자 식별코드를 선택해주시기 바랍니다.
        </div>
        <mat-dialog-actions align="center">
            <button mat-button [mat-dialog-close]="true" class="okBtn">확인</button>
        </mat-dialog-actions>
    </ng-container>

    <ng-container *ngIf="data.dynamicContent === 'schoolCode'">
        <h1 mat-dialog-title>선택된 학교 없음</h1>
        <div mat-dialog-content>
            선택된 학교명이 없습니다. <br />
            학교명을 선택해주시기 바랍니다.
        </div>
        <mat-dialog-actions align="center">
            <button mat-button [mat-dialog-close]="true" class="okBtn">확인</button>
        </mat-dialog-actions>
    </ng-container>

</div>













<!-- <div class="small-modal">
    <ng-container *ngIf="data.dynamicContent === 'cancelBtn'">
        <h4>지도자 등록 취소</h4>
        <p>지도자 등록을 취소하시겠습니까? <br> 작성한 내용은 모두 삭제됩니다.</p>
        <div class="buttons">
            <button type="button" class="cancel_btn" (click)="closeDialog()">취소</button>
            <button type="button" class="add_btn" (click)="goToIndexPage()">확인</button>
        </div>
    </ng-container>
</div>

<div class="register-modal" [ngClass]="data.buttonClass">
    <div class="small-modal">
        <ng-container *ngIf="data.dynamicContent === 'registerBtn'">
            <h4>지도자 등록</h4>
            <p>입력한 내용으로 지도자를 등록하시겠습니까?</p>
            <div class="buttons">
                <button type="button" class="cancel_btn" (click)="closeDialog()">취소</button>
                <button type="button" class="add_btn" (click)="goToIndexPage()">확인</button>
            </div>
        </ng-container>
    </div>
</div>

<div class="validation-modal" [ngClass]="data.buttonClass">
    <div class="small-modal">
        <ng-container *ngIf="data.dynamicContent === 'validation'">
            <h4>필수입력값 확인</h4>
            <p>필수입력값이 채워지지 않았습니다. <br> 확인 후 채워주시길 바랍니다.</p>
            <div class="buttons">
                <button type="button" class="add_btn" (click)="closeDialog()">확인</button>
            </div>
        </ng-container>
    </div>
</div> -->