@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
    font-family: 'Pretendard-Regular' !important;
    font-style: normal !important;
}


.small-modals {
    position: relative;
    width: 400px;
    height: 253px;
    text-align: center;
}

.mat-mdc-dialog-actions {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.mdc-dialog__title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    color: #0F2D6A;
}

.mdc-dialog__content {
    font-weight: 400;
    font-size: 16px;
    color: #212529;
}

button {
    width: 88px;
    height: 42px;
    border-radius: 5px;
    font-size: 18px;
}

.cancelBtn {
    margin-right: 8px;
    border: 1px solid #0F2D6A;
    background-color: #FFFFFF;
    color: #0F2D6A;
}

.cancelBtn:hover {
    border: 0;
    background-color: #0F2D6A;
    color: #FFFFFF;
}

.okBtn {
    border: 0;
    background-color: #0F2D6A;
    color: #FFFFFF;
}

.okBtn:hover {
    border: 1px solid #0F2D6A;
    background-color: #FFFFFF;
    color: #0F2D6A;
}