<div class="leader-modal" [ngClass]="data.buttonClass">
    <div class="large-modal LeaderModal">
        <ng-container *ngIf="data.dynamicContent === 'LeaderData'">
            <div class="modal-header">
                <label>지도자 식별코드 검색</label>
            </div>

            <hr />

            <div class="modal-body">
                <label>성명</label>
                <input type="text" id="LeaderModalInput" placeholder="이름을 입력하세요" [(ngModel)]="searchInput">
                <button class="search_btn" (click)="dataSearch()">검색하기</button>
            </div>

            <div class="scrollable-table-container">
                <table mat-table [dataSource]="data.leaders" class="mat-elevation-z8 leader-table">
                    <ng-container matColumnDef="Index">
                        <th mat-header-cell *matHeaderCellDef>번호</th>
                        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="LeaderCode">
                        <th mat-header-cell *matHeaderCellDef>식별코드</th>
                        <td mat-cell *matCellDef="let element">{{element.leaderNo}}</td>
                    </ng-container>

                    <ng-container matColumnDef="LeaderName">
                        <th mat-header-cell *matHeaderCellDef>성명</th>
                        <td mat-cell *matCellDef="let element">{{element.leaderName}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedLeaderColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedLeaderColumns;" [style.background-color]="isSelected('leader', row) ? '#F9F9F9' : 'transparent'"
                        (click)="toggleSelect('leader', row)">
                    </tr>
                </table>
            </div>

            <div class="buttons">
                <button type="button" class="cancel_btn" (click)="closeDialog()">취소하기</button>
                <button type="button" class="add_btn" (click)="registerData()">등록하기</button>
            </div>


        </ng-container>
    </div>

    <div class="school-modal" [ngClass]="data.buttonClass">
        <div class="large-modal LeaderModal">
            <ng-container *ngIf="data.dynamicContent === 'SchoolData'">
                <div class="modal-header">
                    <label>학교 식별코드검색</label>
                </div>

                <hr />

                <div class="modal-body">
                    <label>학교명</label>
                    <input type="text" id="LeaderModalInput" placeholder="이름을 입력하세요" [(ngModel)]="searchInput">
                    <button class="search_btn" (click)="dataSearch()">검색하기</button>
                </div>

                <div class="scrollable-table-container">
                    <table mat-table [dataSource]="data.schools" class="mat-elevation-z8 leader-table">
                        <ng-container matColumnDef="Index">
                            <th mat-header-cell *matHeaderCellDef>번호</th>
                            <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
                        </ng-container>

                        <ng-container matColumnDef="SchoolName">
                            <th mat-header-cell *matHeaderCellDef>학교명</th>
                            <td mat-cell *matCellDef="let element">{{element.schoolName}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedSchoolColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedSchoolColumns;" [style.background-color]="isSelected('school', row) ? '#F9F9F9' : 'transparent'"
                            (click)="toggleSelect('school', row)">
                        </tr>
                    </table>
                </div>

                <div class="buttons">
                    <button type="button" class="cancel_btn" (click)="closeDialog()">취소하기</button>
                    <button type="button" class="add_btn" (click)="registerData()">등록하기</button>
                </div>

            </ng-container>
        </div>

    </div>