@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
    font-family: 'Pretendard-Regular' !important;
    font-style: normal !important;
}


.leader-modal {
    width: 560px;
    height: 950px;
}

/* 테이블 CSS */
.scrollable-table-container {
    max-height: 560px;
    overflow-y: auto;
}

.leader-table {
    min-width: 480px;
    margin: 0 auto;
}

.mat-mdc-table .mat-mdc-header-cell {
    border-top: 4px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    background-color: #FBFBFB;
    color: #2C2C2C;
}

.mat-mdc-table .mat-mdc-header-cell,
.mat-mdc-cell {
    text-align: center;
}

.mat-elevation-z8 {
    box-shadow: none;
}

.selected-row {
    background-color: #F9F9F9;
}

.buttons {
    display: block;
    margin-top: 60px;
    text-align: center;
}

.buttons>button {
    width: 140px;
    height: 56px;
    border-radius: 5px;
    font-size: 18px;
}

.buttons .cancel_btn {
    margin-right: 8px;
    border: 1px solid #0F2D6A;
    background-color: #FFFFFF;
    color: #0F2D6A;
}

.buttons .cancel_btn:hover {
    border: 0;
    background-color: #0F2D6A;
    color: #FFFFFF;
}

.buttons .add_btn {
    border: 0;
    background-color: #0F2D6A;
    color: #FFFFFF;
}

.buttons .add_btn:hover {
    border: 1px solid #0F2D6A;
    background-color: #FFFFFF;
    color: #0F2D6A;
}

/* 지도자 식별코드 검색 모달 스타일 */
.modal-header {
    margin: 28px 0 30px 40px;
    font-weight: 700;
    font-size: 18px;
    color: #0F2D6A;
}

.modal-body>label {
    margin: 46px 74px 48px 40px;
    font-weight: 500;
    font-size: 15px;
    color: #212529;
}

.modal-body>input {
    width: 284px;
    height: 44px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.modal-body>button {
    width: 84px;
    height: 44px;
    border: 1px solid #0F2D6A;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #0F2D6A;
}

.modal-body>button:hover {
    background-color: #0F2D6A;
    color: #FFFFFF;
}