
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
    font-family: 'Pretendard-Regular';
    font-style: normal !important;
}

input,
select,
button {
    font-size: 14px !important;
}

.mat-typography h4 {
    font-family: 'Pretendard-Regular' !important;
    font-style: normal !important;
}

.mat-mdc-checkbox-ripple,
.mdc-checkbox__ripple {
    display: none;
}

/* 메인페이지 - 체크박스 */
.mat-mdc-checkbox .mdc-checkbox__background {
    width: 17px;
    height: 17px;
    border: 2px solid #DDDDDD !important;
    border-radius: 4px;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
    border-color: #DDDDDD !important;
    background-color: #DDDDDD !important;
}